@page
@model CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" />
</head>

<body>
    <div class="calendar" id='calendar'></div>
    <div>
        <form method="post">
            <label asp-for="Model.Email"></label>
            <input asp-for="Model.Email" class="form-control" />
            <label asp-for="Model.StartDate"></label>
            <input asp-for="Model.StartDate" class="form-control" type="date" />
            <label asp-for="Model.EndDate"></label>
            <input asp-for="Model.EndDate" class="form-control" type="date" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"></script>
    <script>
        var $jq = jQuery.noConflict();

        $jq(document).ready(function() {
            $jq('#calendar').fullCalendar({
            });
        });
    </script>

</body>
